[Unit]
Description=Keeps a tunnel to 'lxtunnel.cern.ch' open
After=network.target


[Service]
ExecCondition=/usr/bin/klist
Environment=AUTOSSH_DEBUG=1
ExecStart=/usr/bin/autossh -M 0 -N -q -K -o "ControlPersist=no" -o "PubkeyAuthentication=no" -o "ServerAliveCountMax=3" -l straylen lxtunnel.cern.ch

[Install]
WantedBy=default.target
