[user]
	name = Steve Traylen
	email = steve.traylen@cern.ch
	signingkey = 2B738F5F2348427F
[push]
	default = simple

[http]
	emptyAuth = true
	postBuffer = 2097152000

[gpg]
	program = gpg

[pull]
	rebase = false
[https]
	postBuffer = 20971520000
[credential]
	helper = store --file ~/.my-credentials
